<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>crop recomendation</title>
    <link rel="stylesheet" href="">
    <style>
      body{
      background-image: 
      url('/images/page1.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>CROP RECOMENDATION </h1>
    </header>
    <main>

     <br>
     <h2> Agriculture's crucial role in feeding the global population underscores the need for optimizing crop production 
      and resource management.</h2>
      <h2 style="color: black;">Click following button for Crop recommandation</h2>
    </main>
     <form action="/Predict">
      <input type="submit" id="Predict" name="Predict" action="/Predict" value="Predict">
     </form>
  </body>
</html>